<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Active Sessions</h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6 pt-4">
      <% if @sessions.any? %>
        <ul class="divide-y divide-gray-200">
          <% @sessions.each do |session| %>
            <li class="py-4 flex">
              <div>
                <p class="text-sm font-medium text-gray-900">Session ID: <%= session.session_id %></p>
                <p class="text-sm text-gray-500">IP Address: <%= session.ip_address %></p>
                <% if session.browser %>
                  <p class="text-sm text-gray-500">Browser: <%= session.browser %></p>
                <% else %>
                  <p class="text-sm text-gray-500">Browser: Unknown </p>
                <% end %>
                <p class="text-sm text-gray-500">Created At: <%= session.created_at %></p>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-sm text-gray-500">No active sessions found.</p>
      <% end %>
    </div>
  </div>
</div>