<h1 class="text-2xl">
  Секретная зона сайта!
</h1>

<%= button_to "Выйти", logout_path, method: :delete,
              class: "mt-4 flex w-20 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>

<%= button_to "Создать игру", game_create_path, method: :get,
              class: "mt-4 flex w-20 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>