<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сброс пароля</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 20px;
      }
      .container {
          max-width: 600px;
          margin: auto;
          background: #fff;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
          color: #333;
      }
      p {
          color: #555;
          line-height: 1.6;
      }
      .button {
          display: inline-block;
          padding: 10px 20px;
          margin-top: 20px;
          background-color: #007BFF;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
          transition: background-color 0.3s;
      }
      .button:hover {
          background-color: #0056b3;
      }
  </style>
</head>
<body>

<div class="container">
  <h1>Сброс пароля</h1>
  <p>Кто-то запросил сброс пароля для вашей учетной записи.</p>
  <p>Если это были вы, нажмите на кнопку ниже, чтобы установить новый пароль:</p>
  <p>
    <%= link_to 'Сбросить мой пароль', edit_password_reset_url(user: { password_reset_token: @user.password_reset_token, email: @user.email }).gsub("&amp;", "&").html_safe, class: 'button', target: '_blank' %>
  </p>
  <p>Если вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.</p>
</div>

</body>
</html>