<div data-controller="visits" class="max-w-6xl mx-auto p-6 bg-white rounded-lg shadow-lg">
  <h1 class="text-2xl font-bold text-center mb-4 text-gray-800">График активности пользователей за последний месяц</h1>
  <canvas data-visits-target="chart" class="w-full h-64 border border-gray-200 rounded-lg shadow-sm"></canvas>
</div>
