<turbo-frame id="my_games_frame">
  <h3 class="text-xl font-semibold my-4">Мои игры</h3>
  <% if @games_accepted.present? %>
    <%= render partial: 'helpers/showcase_grid', locals: { items: @games_accepted } %>
  <% else %>
    <p class="text-gray-600 mt-2">У вас нет принятых игр.</p>
  <% end %>

  <h3 class="text-xl font-semibold my-4">Игры на модерации</h3>
  <% if @games_under_moderation.present? %>
    <%= render partial: 'helpers/showcase_grid', locals: { items: @games_under_moderation } %>
  <% else %>
    <p class="text-gray-600 mt-2">У вас нет игр на модерации.</p>
  <% end %>

  <h3 class="text-xl font-semibold my-4">Отклоненные игры</h3>
  <% if @games_rejected.present? %>
    <%= render partial: 'helpers/showcase_grid', locals: { items: @games_rejected } %>
  <% else %>
    <p class="text-gray-600 mt-2">У вас нет отклоненных игр.</p>
  <% end %>
</turbo-frame>