<div class="flex bg-gray-900 min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 mx-auto w-full max-w-sm lg:w-[60%] lg:max-w-none">
    <%= render partial: 'helpers/errors' %>
    <%= render partial: 'games/form', locals: {path: games_url(@game)} %>
  </div>
</div>