<h1>Здравствуйте, <%= @user.name %>!</h1>

<p>Вы успешно зарегистрировались на платформе Jammer через <%= @user.provider.capitalize %>.</p>
<p>Для входа в ваш аккаунт используйте временный пароль:</p>

<p><strong><%= @temp_password %></strong></p>

<p>Пожалуйста, войдите в систему и измените пароль на странице настроек.</p>

<p>С уважением,<br>
  Команда Jammer</p>
