@import "cropperjs/dist/cropper.css";
@import 'flatpickr/dist/flatpickr.min.css';
@import 'flatpickr/dist/themes/dark.css';
@import 'load_spinner.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
