<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200">
    <thead>
    <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
      <th scope="col" class="py-3 px-6 text-left">#</th>
      <th scope="col" class="py-3 px-6 text-left">name</th>
      <th scope="col" class="py-3 px-6 text-left">email</th>
      <th scope="col" class="py-3 px-6 text-left">role</th>
      <th scope="col" class="py-3 px-6 text-left">created_at</th>
      <th scope="col" class="py-3 px-6 text-left"></th>
    </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
    <%= render partial: 'admin/users/user' %>
    </tbody>
  </table>
</div>