<footer class="bg-white-800 text-white py-8">
  <div class="container mx-auto px-6">
    <div class="flex justify-center direction-row">
      <div>
        <nav class="w-40 flex space-x-4 justify-center">
          <a href="/" class="text-gray-400 hover:text-gray-800">Home</a>
          <a href="/games_showcase" class="text-gray-400 hover:text-gray-800">Games</a>
          <a href="/dashboard" class="text-gray-400 hover:text-gray-800">Dashboard</a>
        </nav>
      </div>
    </div>
    <div class="mt-8 text-center text-gray-400">
      2024 Jammer. All rights reserved.
    </div>
  </div>
</footer>