<!DOCTYPE html>
<html class="h-full bg-gray-900">
<head>
  <title>Jammer</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="<%= asset_path('whitewithouttitle.png') %>">
  <%= stylesheet_link_tag "application" %>
</head>
<body class="h-full">
  <%= yield %>
</body>
</html>
